<span class="col-md-3"><h1>skills</h1></span>

<% @skills.each do |skill|  %>
  <div class="content-item">
    <div class="title-block col-md-12">
      <span class="col-md-8"><h2><%= skill.title %></h2></span>
    </div>
    <div class="skill-block col-md-10">
      <div class="skill-desc col-md-6">
        <p>
          <%= skill.description %>
        </p>
      </div>
      <% skill.activeties.each do |act| %>
        <div class="col-md-6">
        <ul class="activity-list">
          <li><span class="activity"><%= act.name %></span></li>
        </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<% if can? :manage, :all %>
  <%= link_to 'New Skill', new_skill_path %>
<% end %>