<div class="heading">
  <div class="page-title col-md-12">
    <span class="title">Skills</span>
  </div>
</div>

<% @skills.each do |skill|  %>
  <div class="skill">
    <div class="title-block col-md-12">
      <span class="skill-title"><%= skill.title %></span>
    </div>
    <div class="skill-block col-md-10">
      <div class="skill-desc col-md-6">
        <p>
          <%= skill.description %>
        </p>
      </div>
      <% skill.activeties.each do |act| %>
        <div class="col-md-6">
        <ul class="activity-list">
          <li><span class="activity"><%= act.name %></span></li>
        </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<% if can? :manage, :all %>
  <%= link_to 'New Skill', new_skill_path %>
<% end %>