<h1>hello i'm menno</h1>
<row>
  <div class="col-md-8">
    <h2>web & ios development</h2>
    <p>
      Ennui gentrify pork belly keffiyeh kale chips master cleanse lomo,
      green juice messenger bag hell of street art hella. Whatever snackwave fingerstache,
      artisan cray helvetica bicycle rights tumeric chartreuse normcore banjo man bun flannel vinyl iPhone.
      Synth portland distillery fanny pack post-ironic art party, roof party raclette lomo
      hella activated charcoal tote bag. Microdosing thundercats celiac franzen authentic
      four loko migas lomo skateboard. Locavore slow-carb literally prism, selvage food truck
      normcore seitan mustache migas subway tile PBR&B man bun fanny pack. Meditation authentic viral whatever,
      la croix schlitz mixtape pork belly photo booth butcher snackwave tattooed bespoke semiotics austin.
      Raw denim normcore irony, cronut bespoke gastropub 90's disrupt pitchfork.
    </p>
    <h2>web & ios development</h2>
    <p>
      Freegan woke banh mi sartorial offal direct trade mixtape,
      beard ennui tumblr. Chillwave vegan four dollar toast hammock,
      next level flexitarian aesthetic vinyl vape. Fam squid trust fund,
      chicharrones pug fingerstache gluten-free lumbersexual ethical.
      Pinterest lyft hexagon, echo park cold-pressed pug coloring book
      ethical selvage chartreuse +1 tousled.
    </p>
  </div>

  <div class="col-md-4">
  <%= image_tag('back.jpg', class: 'img-resonsive home-image') %>
  </div>

</row>