<span class="col-md-6"><h1 class="title"><%= @project.title %></h1></span>

<div class="content-item">
  <div class="title-block col-md-12">
    <span class="col-md-8"><h2>Description</h2></span>
  </div>
  <div class="item-block col-md-10">
    <p>
      <%= @project.description %><br>
    <div class="item-link">
      <%= link_to 'Back', projects_path %>
    </div>
    </p>
  </div>
</div>

<% if can? :manage, :all %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
