<span class="col-md-6"><h1>lets get in touch!</h1></span>

<div class="content-item">

  <div class="title-block col-md-12">
    <span class="col-md-6"><h2>contact me on the following platforms</h2></span>
  </div>

  <div class="skill-block col-md-10">
    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Linked In</td>
        <td><%= link_to 'Menno Godeke', 'https://www.linkedin.com/in/menno-godeke-b5b09b10a'%></td>
      </tr>
      <tr>
        <td>Gmail</td>
        <td>mgodeke1994@gmail.com</td>
      </tr>
      <tr>
        <td>Skype</td>
        <td>menno.godeke</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>