// Place all the styles related to the Activeties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-list {
  list-style-type: none;
}

.activity {
  font-size: 1.2em;
  color: black;
  background-color: #FDFF03;
  padding: 3px;
  box-shadow: 3px 2px 4px #707070;
}