// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-title {
  color: white;
  background-color: #FF0000;
  box-shadow: 3px 2px 4px #707070;
  padding: 5px 40px 5px 5px;
}

.comment {
  background-color: #F3F3F3;
  margin-top: 1%;
  padding: 5px;
  margin-left: 10%;
  z-index: 5;
}

#comments {
  padding-top: 30%;
}