@font-face {
  font-family: 'Cubano';
  src: url("/assets/cubano.otf");
}

h1, h2, h3 {
  font-family: 'Cubano';
}

h3 a {
  color: black;
  font-family: 'Cubano';
}

a {
  font-family: Cubano;
  color: black;
}

p {
  font-family: 'Average Sans';
}