.social {
  float: right;
  background-color: #FF0000;
  box-shadow: 3px 2px 4px #707070;
  padding: 5px 25px 5px 5px;
  font-family: 'Cubano';
  font-size: 1.7em;
}

.social a {
  padding: 5px 25px 5px 5px;

}

.social-links {
  list-style-type: none;
}

.social-icon {
  display: inline;
}